* {
  font-family: Optima;
}


nav {

  margin-bottom: 20px;
  background-color: lightseagreen;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  height: 40px;
  align-items: center;
  font-size: 25px;
  color: white;

}

nav > ul > li > a {

  color: white  ;
  font-family: Optima;
  
}